/* Slider wrapper, track & arrows */

.slider-container {
    width: 100%;
    /* overflow-x: auto;
    overflow-y: visible; */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
    gap: 1rem;
  
    /* hide scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .slider-container::-webkit-scrollbar {
    display: none;
  }

  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  
  /* Grid track: always 3 slides per view */
  .slides-wrapper {
    display: grid;
    grid-auto-flow: column dense;
    gap: 0.25rem; 

    /* grid-auto-columns: calc((100% - (0.5rem * 2)) / 3); */
  }
  
  /* Snap each slide to the start of the viewport */
  .slides-wrapper > * {
    scroll-snap-align: start;
  }
  
  .slider-container .nav-button {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 1rem;
  
    /* explicitly reset both sides */
    left: auto;
    right: auto;
  }

  .nav-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }
  
  /* Now pin them where we want */
  .slider-container .nav-button.prev {
    left: 10rem;   /* moves the Prev button 0.5rem outside on the left */
  }

  .nav-button.prev.hidden{
    visibility: hidden;
  }

  .nav-button.next.hidden{
    visibility: hidden;
  
  }
  
  
  .slider-container .nav-button.next {
    right: 10rem;  /* moves the Next button 0.5rem outside on the right */
  }
  




  